@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;900&display=swap');


:root{
    --primaryColor: #EB2590;
    --textPrimary: #DD2387;
    --fadedPrimary: #fbf0f7;
    --textSecondary: #535659;
    --secondaryBlack: #000000;
    --white: #FFFFFF;
    font-family: 'Lato';
}
*img{
    object-fit: cover;
    object-position: center;
    width: 20px;
}
body{
    background-color: #FFFFFF;
    /* background-color: #EB2590; */
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
}
.app-redesign{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    font-family: 'Lato';

}

/* Nav bar */
.navBar-container{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px; 
    /* this margin, you might remove it when you get the actual height and can use juc- space-between. */
}

.nav-list ul{
    display: flex;
    width:auto;
    padding: 0;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-between;
    gap: 30px;
}
li.nav-list-items{
    font-weight: 400;
    font-size: 20px;
    line-height: 153.2%;
    list-style: none;
    width: fit-content;
    color: var(--textSecondary);
}
.logo-container img{
    width: 196.1px;
}

.sign-in-btn{
    width: 190px;
    height: 55px;
    border: 1px solid #EB2590;
    border-radius: 6px;
    background-color: var(--white);
    color: var(--textPrimary);

    font-size: 20px;
    line-height: 153.2%;
}
.hamburger-div,
.hamburger-img{
    width: 32px;
    visibility: hidden;
    display: none;
}

/* About us page */
.about-page-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 auto; */
}
/* .about-content{
    width: 100%;
} */
.about-hero-section{
    width: 95%;
    margin-bottom: 120px;
}
.about-hero-image {
    width: 100%;
}
.about-hero-image img{
    width: 100%;
}
.about-hero-text{
    gap: 30px;
}
.about-us{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18.752px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.1em;
    color: #505050;
}
.about-hero{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 119%;
    color: #000000;
}

.about-hero span{
    font-family: 'Playfair Display', serif;
    color: #ED1F8E;
    font-style: italic;

}
.about-hero-desc{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18.752px;
    line-height: 207.5%;
    /* or 39px */
    color: #333333;
}
.about-services{
    width: 95%;

    background: #FFF5F0;
    border-radius: 9.73822px;
    justify-content: space-between;
    box-sizing: border-box !important;
    margin-bottom: 97px;
}
.what-we-do ,
.who-we-serve{
    border-right: 1px solid #EB2590;
}
.about-services-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 108%;
    text-transform: uppercase;
    color: #000000;
    width: 100%;
    margin-bottom: 17px;
}
.about-services-desc{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 207.5%;
    color: #484848;
}

.about-note{
    width: 100%;
    height: 1296px;
    background-color: #0E0008;
    margin-bottom: 122px;
}

.about-note-para{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 108%;
    /* or 76px */

    padding-top: 96px;
    box-sizing: border-box;
    text-transform: capitalize;

    color: #FFFFFF;

}

/* about figures */
.about-figures{
    width: 90%;
    box-sizing: border-box;
    background-color: #FFF3FB;
    padding: 60px !important;
    margin-bottom: 247px !important;
}
.about-figures-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    text-align: left;
    /* or 128% */
    width: 1062px;

    text-transform: capitalize;

    color: #000000;
}
.about-figures-title span{
    font-family: 'Playfair Display';
    color: #ED1F8E;
}

.about-figures-img-div img{
    width: 100%;
}

.about-figures-number-div-desc{
    width: 269px;
}

.about-figures-number-div-desc .title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 79px;
    line-height: 95px;
    /* identical to box height */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}
.about-figures-number-div-desc .desc{
    font-style: normal;
    font-weight: 300;
    font-size: 19.4947px;
    line-height: 132.5%;
    text-align: left;
    /* or 26px */
    
    color: #000000;

}
                    /* CALL TO DOWNLOAD SECTION  */
.download-section{
    box-sizing: border-box;
    width: 90%;
    height: 219px;

    background-image: linear-gradient(91.91deg, #ED1F8E 0%, #FBF2F2 100%);
    border-radius: 15px;
    margin-bottom: 129px;

    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
}
.download-images img{
    width: 48%;
}
.download-title{
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}
.download-desc{
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
                /* Footer


            */
.footer{
    box-sizing: border-box;
    width: 100%;
    height: 634px;
    background-color:var(--secondaryBlack);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 106px 94px 54px 94px;
}

.div-1-footer{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-white{
    width: 221px;
    padding-bottom: 24px;
}
.first- p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    width: 165px;
}

.newsletter-div{
    width: 289px;
    height: 51px;
    border-bottom: .5px solid var(--white);

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.newsletter-div input{
    border: none;
    outline: transparent;
    background-color: transparent;

}
.newsletter-div button{
    min-width: 50px;
    height: 50px;
    background-color: var(--primaryColor);
    border-radius: 8px 8px 0 0;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-div button img{
    min-width: 35px;
    /* height: 10px; */
}

.second-{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.second- ul{
    margin: 0;
}
li.footer-links{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 17px;
}
.footer-links.first-link{
    font-weight: 900;
    padding-bottom: 24px;
}

.socials {
    padding-bottom: 24px;
}

.socials p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E8F4D9;
    margin: 0;
    padding-bottom: 24px;
}
.socials-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;
}
.socials button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primaryColor);

    border: transparent;
    outline: transparent;

    display: flex;
    justify-content:center;
    align-items: center;
}
.socials button img{
    width: 50%;
}

.install-div p {
    font-size: 14.3px;
    font-weight: 700;
    line-height: 22px;
}
.install-apps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.install-apps img{
    width: 128.41px;
}

.cookie-policy{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8F4D9;

}
.cookie-policy span{
    color: var(--primaryColor);
}
.copyright{
    padding-top: 20px;
    color: #FFFFFF;
    margin-top: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    }


            
                    /* Media queriess */
@media screen and (max-width: 1363px) {
    .about-figures-number-div-desc {
        width: 230px;
    }
    .about-figures-number-div-desc .title{
        font-size: 70px;
    }
    .about-figures-number-div-desc .desc{
        font-size: 16px;
    }
    .about-hero{
        font-size: 54px;
    }
}
                  
@media screen and (max-width: 1300px) {
    .navBar-container{
        /* width: 90%; */
        margin-bottom: 100px;
    }
 
}

@media screen and (max-width: 1220px) {
    .about-services-title{
        font-size: 30px;
    }
    .about-note-para{
        font-size: 58px;
        line-height: 200%;
    }

    .about-figures-title{
        width: 90%;
        font-size: 42px;
    }
        /* hero section */
        .about-hero{
            font-size: 54px;
        }

        /* hero about section above */


    .footer{
        padding: 85px 70px 45px 70px;
    }
    /* footer ul */
    .second- ul {
        padding-left: 25px
    }
/* footer above */

    .about-page-wrapper{
        width: 95%;
    }
    .about-content{
        width: 95%;
    }
    .about-hero-section{
        width: 95%;
    }
    .about-figures-number-div-desc .title{
        font-size: 64px;
    }
    /* .about-hero-desc, */
    .about-figures-number-div-desc .desc{
        font-size: 16px;
    }
}
@media screen and (max-width: 1199px) {
    .about-us,
    .about-hero{
        text-align:center;
    }

    .about-hero-desc,
    .about-services-desc,
    .about-note-para{
        text-align: justify;
    }

    .about-hero{
        width: 60%;
    }
    
    .what-we-do ,
    .who-we-serve{
        border-right: none;
        border-bottom: 1px solid #EB2590;
    }
    .about-figures-title{
        text-align: center;
    }

    .about-figures-number-div-desc .title{
        
        font-size: 52px;
    }
    .about-figures-number-div-desc .desc{
        font-size: 14px;
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .about-hero{
        font-size: 48px;
    }
    .about-hero-image{
        padding-left: 0;
    }
    .about-figures{
        margin-bottom: 124px !important;
    }

    .download-text .download-desc{
        font-size: 28px;
    }
    .download-images img{
        width: 48%;
    }
}

@media screen and (max-width: 1058px) {
    .about-hero{
        /* font-size: 44px; */
    }
    
    .about-figures-title{
        font-size: 38px;
        line-height: 200%;
    }

    .footer{
        padding: 60px 55px 40px 55px;
    }
    .download-text .download-desc{
        font-size: 24px;
    }
}

@media screen and (max-width: 992px) {

    .about-note{
        height: 648px;
    }

    .about-note-para{
        font-size: 36px;
        line-height: 150%;
    }
    .about-figures-title{
        font-size: 32px;
        line-height: 150%;
    }

        /* Download section */
        .download-images{
            /* height: 50%; */
            width: min-content;
            gap: 2em;
        }
        .download-images img{
            width: 40%;
        }

      /* footer */
      .footer{
        height: auto;
        align-items: center;
    }
    .footer-links{
        font-size: 14px;
    }
    .div-1-footer{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .first- {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo-white{
        width: 25%;
    }

    .second-{
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .third-{
        display: flex;
        justify-content:space-between;
        align-items: baseline;
        width: 100%;
        margin-bottom: 2rem;
    }
    .text-footer{
      text-align: center;
      /* font-size: 14px; */
    }
    .install-apps{
        flex-direction: row;
    }
    .cookie-policy{
        width: 100%;
    }

     /* for nav-bar */
     .nav-list,
     .sign-in-div{
         visibility: hidden;
         display: none;
     }

     .hamburger-div,
     .hamburger-img{
         width: 50px;
         visibility: visible;
         display: flex;
     }
}
@media screen and (max-width: 925px){
    .about-hero{
        /* font-size: 32px; */
        width: 70%;
    }
    .about-note-para{
        font-size: 32px;
    }
    .about-figures-title{
        /* font-size: 38px; */
        width: 100% ;
    }
    
}
@media screen and (max-width: 767px) {
    .about-hero{
        width: 80%;
    }
    .about-figures-title{
        font-size: 26px;
    }

}

@media screen and (max-width: 689px) {
    .about-hero{
        width: 90%;
        
        font-size: 44px;
       
    }

    .about-figures-title{
        font-size: 32px;
    }

    .first- p{
        font-size: 18px;
        
    }
    .newsletter-div {
        width: 40%;
    }
    .footer{
        padding: 40px 30px ;
    }
}
@media screen and (max-width: 645px) {
    .newsletter-div{
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    /* footer elements */
    .first-{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 27px;
    }
    .third-{
        padding-left: 29px;
    }
    .newsletter-div {
        width: 80%;
    }
}
@media screen and (max-width: 580px) {
    .about-note-para{
        font-size: 26px;
    }

     .about-figures-title{
        font-size: 28px;
    }

    .first- p{
        width: 100%;
    }
    .install-apps {
        display: flex;
        flex-direction: column;
    }
    .third-{
        padding-right: 8px;
    }

    /* download section */
    .download-title{
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
    }
    .download-text .download-desc{
        font-size: 16px;
        font-weight: 600;
    }
}

@media screen and (max-width: 460px) {
    .about-hero{
        width: 100%;
    }
    .about-figures-title{
        font-size: 22px;
    }
    /* footer elemts */
    .first-,
    .second- ul,
    .third-{
        padding-left: 0;
    }
    .text-footer p{
        font-size: 12px;
    }
    .cookie-policy{
        padding: 0;
    }
    .copyright{
        padding: 0;
    }
    .logo-white{
        padding: 0;
    }

}


@media screen and (max-width: 400px) {
    .about-figures-title{
        font-size: 20px;
    }

    body{
        min-width: 400px;
    }
}
@media screen and (max-width: 375px) {
    .download-text .download-desc{
        font-size: 16px;
        font-weight: 400;
        /* width: 80%; */
    }
}